/*variables*/
@font-face {
  font-family: 'texta';
  src: url("../fonts/texta/texta-regular/texta-regular.woff2") format("woff2"), url("../fonts/texta/texta-regular/texta-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'texta';
  src: url("../fonts/texta/Texta-bold/texta-bold.woff2") format("woff2"), url("../fonts/texta/Texta-bold/texta-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'texta';
  src: url("../fonts/texta/texta-light/texta-light.woff2") format("woff2"), url("../fonts/texta/texta-light/texta-light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'texta_book';
  src: url("../fonts/texta/texta-book/texta-book.woff2") format("woff2"), url("../fonts/texta/texta-book/texta-book.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova';
  src: url("../fonts/ProximaNova/proximanova-bold/proximanova-bold.woff2") format("woff2"), url("../fonts/ProximaNova/proximanova-bold/proximanova-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova';
  src: url("../fonts/ProximaNova/proximanove-light/proximanova-light.woff2") format("woff2"), url("../fonts/ProximaNova/proximanove-light/proximanova-light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
.top_header {
  padding: 26px 0 35px 0;
  background: url("../img/header-bg.jpg") no-repeat center/cover; }
  .top_header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .top_header .container .header_logo {
      display: flex;
      align-items: center; }
      .top_header .container .header_logo span {
        font-size: 11px;
        text-transform: uppercase; }
      .top_header .container .header_logo a {
        position: relative;
        margin-right: 65px; }
        .top_header .container .header_logo a:after {
          content: '';
          width: 1px;
          height: 18px;
          background-color: #f28724;
          position: absolute;
          top: 20px;
          right: -35px; }
    .top_header .container .header_links a {
      margin-right: 25px; }
    .top_header .container .phone_number {
      display: flex;
      align-items: center; }
      .top_header .container .phone_number span {
        font-weight: bold;
        font-size: 22px;
        border-bottom: 1px dotted #7f7f7f;
        margin-left: 13px; }
    .top_header .container .account {
      display: flex;
      flex-direction: column;
      padding-bottom: 10px; }
    .top_header .container .cart {
      margin-top: 9px;
      padding: 10px 15px;
      border: 1px solid #ffa148;
      display: flex;
      align-items: center;
      border-radius: 3px;
      transition: .2s ease-out; }
      .top_header .container .cart a {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #ffa148;
        font-weight: bold;
        text-decoration: none;
        font-family: texta, sans-serif;
        position: relative; }
        .top_header .container .cart a img {
          margin-right: 17px; }
        .top_header .container .cart a:after {
          content: '';
          position: absolute;
          top: 3px;
          right: -20px;
          height: 11px;
          width: 1px;
          background-color: #ffa148; }
      .top_header .container .cart span {
        color: #ffa148;
        margin-left: 41px; }
    .top_header .container .cart_hover {
      box-shadow: 0 0 5px 2px #f28724;
      transition: .2s ease-out; }

.menu {
  background-color: #fff;
  padding: 20px 0; }
  .menu .nav_menu {
    display: flex;
    justify-content: space-between; }
    .menu .nav_menu li {
      position: relative;
      list-style: none; }
      .menu .nav_menu li a {
        color: #393939;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        transition: .4s ease-out; }
      .menu .nav_menu li:after {
        content: '';
        width: 1px;
        height: 7px;
        position: absolute;
        background-color: #bebebe;
        right: -40px;
        top: 30%; }
      .menu .nav_menu li:last-child:after {
        display: none; }
      .menu .nav_menu li:hover a {
        text-decoration: none;
        color: #f28724;
        transition: .4s ease-out; }

#banner {
  position: relative; }
  #banner .swiper-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%; }
    #banner .swiper-container .slide1 {
      background: url("../img/slide.jpg") no-repeat center/cover; }
    #banner .swiper-container .slide2 {
      background: url("../img/slide2.jpg") no-repeat center/cover; }
    #banner .swiper-container .slide3 {
      background: url("../img/slide3.jpg") no-repeat center/cover; }
  #banner .container {
    display: flex;
    justify-content: center; }
    #banner .container .swiper-pagination {
      bottom: 55px; }
      #banner .container .swiper-pagination .swiper-pagination-bullet {
        margin-left: 5px;
        border: 1px solid #fff;
        background-color: transparent; }
      #banner .container .swiper-pagination .swiper-pagination-bullet-active {
        background-color: #fff; }
    #banner .container .main_title {
      color: #fff;
      text-align: center;
      padding: 75px 170px 115px 175px;
      text-transform: uppercase; }
      #banner .container .main_title span {
        font-weight: 700; }
      #banner .container .main_title p {
        margin-top: 35px;
        font-weight: 300;
        font-size: 30px;
        word-spacing: 5px;
        opacity: .8; }
      #banner .container .main_title a {
        display: inline-block;
        color: #fff;
        margin-top: 50px;
        border-radius: 2px;
        font-family: texta, sans-serif;
        font-weight: bold;
        text-decoration: none;
        background-color: #f28724;
        padding: 15px 30px;
        font-size: 16px;
        transition: .4s ease-out; }
        #banner .container .main_title a:hover {
          background-color: #ffa148;
          transition: .4s ease-out; }

#find_light {
  background-color: #f6f6f6;
  padding-bottom: 26px; }
  #find_light .search_light {
    position: relative;
    top: -20px;
    width: 870px;
    max-width: 90%;
    margin: 0 auto;
    box-shadow: 0 10px 20px -10px #c3c3c3;
    background-color: #f8f8f8; }
    #find_light .search_light h3 {
      color: #000;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      padding: 25px 0 0 27px;
      letter-spacing: 1px; }
    #find_light .search_light .search-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 17px 23px 25px 22px; }
      #find_light .search_light .search-wrapper button {
        display: flex;
        padding: 7px 15px;
        background-color: #f28724;
        border: 1px solid #d37117;
        border-radius: 2px;
        cursor: pointer; }
  #find_light .benefits {
    display: flex;
    margin-top: 25px;
    font-size: 13px;
    color: #000;
    font-weight: 300;
    text-transform: uppercase;
    justify-content: space-between; }
    #find_light .benefits div {
      display: flex;
      align-items: center; }
      #find_light .benefits div span {
        letter-spacing: 1px; }
      #find_light .benefits div img {
        margin-right: 5px; }
  #find_light .shop_by {
    display: flex;
    justify-content: space-between;
    margin-top: 25px; }
    #find_light .shop_by .product, #find_light .shop_by .brand {
      width: 46%; }
      #find_light .shop_by .product h2, #find_light .shop_by .brand h2 {
        font-family: proxima_nova, sans-serif;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase; }
      #find_light .shop_by .product a, #find_light .shop_by .brand a {
        display: inline-block;
        padding: 15px;
        border: 1px solid #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        color: #fff;
        font-weight: 700;
        margin-top: 24px;
        transition: .4s ease-out; }
        #find_light .shop_by .product a:hover, #find_light .shop_by .brand a:hover {
          box-shadow: 0 0 5px 1px #ccc;
          transition: .4s ease-out; }
    #find_light .shop_by .product {
      padding: 55px 20px 60px 32px;
      background: url("../img/product_bg.jpg") no-repeat center/cover; }
    #find_light .shop_by .brand {
      padding: 55px 20px 60px 32px;
      background: url("../img/brand_bg.jpg") no-repeat center/cover; }

#best_selling {
  padding: 26px 0 40px 0;
  text-align: center;
  background-color: #f6f6f6;
  border-bottom: 1px solid #e4e4e4; }
  #best_selling h2 {
    color: #000;
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase; }
  #best_selling span {
    letter-spacing: 1px;
    color: #898989;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300; }
  #best_selling .products_store {
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between; }
    #best_selling .products_store .item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left;
      margin-bottom: 42px;
      width: 24%;
      cursor: pointer; }
      #best_selling .products_store .item .photo {
        width: 100%;
        height: 270px;
        border: 1px solid #ebebeb;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        transition: .4s ease-out; }
        #best_selling .products_store .item .photo:hover {
          border: 1px solid #ffd3aa;
          transition: .4s ease-out; }
        #best_selling .products_store .item .photo img {
          width: 200px;
          max-width: 100%; }
      #best_selling .products_store .item .name {
        font-weight: 700;
        color: #000;
        padding-top: 20px;
        padding-bottom: 15px; }
      #best_selling .products_store .item .add_item {
        display: flex;
        align-items: center; }
        #best_selling .products_store .item .add_item button {
          text-transform: uppercase;
          text-decoration: none;
          color: #fff;
          font-weight: 700;
          padding: 10px;
          border: 1px solid #d37117;
          background-color: #f28724;
          border-radius: 2px;
          transition: .4s ease-out;
          cursor: pointer; }
          #best_selling .products_store .item .add_item button:hover {
            background-color: #ffa148;
            transition: .4s ease-out; }
        #best_selling .products_store .item .add_item p {
          color: #000;
          font-weight: 700;
          font-size: 22px;
          display: flex;
          margin-left: 13px; }
          #best_selling .products_store .item .add_item p span {
            color: #fb9292;
            text-decoration: line-through;
            font-size: 16px;
            font-weight: 400;
            margin-left: 6px; }

#about {
  background-color: #ce4e45;
  padding: 87px 0 96px 0;
  position: relative; }
  #about:after {
    content: '';
    background: url("../img/about_bg.png") no-repeat center/cover;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%; }
  #about .text_wrapper {
    width: 50%; }
    #about .text_wrapper h2 {
      position: relative;
      padding-bottom: 24px;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 400;
      letter-spacing: 5px; }
      #about .text_wrapper h2:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 75px;
        height: 3px;
        background-color: #ffd74c; }
    #about .text_wrapper p {
      font-family: texta_book, sans-serif;
      font-size: 15px;
      line-height: 24px;
      padding: 27px 0 32px 0; }
    #about .text_wrapper a {
      display: inline-block;
      padding: 14px 16px;
      border: 1px solid #fff;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 16px;
      font-weight: 700;
      border-radius: 2px;
      transition: .4s ease-out; }
      #about .text_wrapper a:hover {
        box-shadow: 0 0 5px 1px #ccc;
        transition: .4s ease-out; }

#world_leading {
  text-align: center;
  padding: 55px 0 66px 0;
  background-color: #f6f6f6;
  border-bottom: 1px solid #e4e4e4; }
  #world_leading h2 {
    color: #000;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2px; }
  #world_leading span {
    font-weight: 300;
    color: #898989;
    font-size: 13px;
    text-transform: uppercase; }
  #world_leading .logo {
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    #world_leading .logo img {
      max-width: 100%; }
    #world_leading .logo a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 90px;
      width: 24%;
      border: 1px solid #ebebeb;
      margin-top: 18px;
      transition: .2s ease-out;
      background-color: #fff; }
      #world_leading .logo a:hover {
        border: 1px solid #ffd3aa;
        box-shadow: 0 0 5px 1px #ffd3aa;
        transition: .2s ease-out; }

#auto_list {
  color: #000;
  padding: 50px 30px 80px 0; }
  #auto_list .tabs .tabs_caption {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: relative; }
    #auto_list .tabs .tabs_caption li {
      padding: 23px;
      width: 240px;
      margin: 1px 0 0 4px;
      background: #fff;
      color: #a6a6a6;
      position: relative;
      border: none;
      border-top: 3px solid #b5b5b5;
      cursor: pointer; }
    #auto_list .tabs .tabs_caption:after {
      content: '';
      display: table;
      clear: both; }
    #auto_list .tabs .tabs_caption .caption_active {
      border-top: 3px solid #9e2221;
      border-right: 1px solid #b5b5b5;
      border-left: 1px solid #b5b5b5;
      color: #000; }
      #auto_list .tabs .tabs_caption .caption_active:after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        height: 1px;
        background: #FFF; }
  #auto_list .tabs .tabs_content {
    display: none;
    font-size: 18px;
    color: #787878; }
    #auto_list .tabs .tabs_content a {
      text-decoration: none;
      color: #787878;
      margin-bottom: 20px; }
      #auto_list .tabs .tabs_content a:hover {
        color: #f28724; }
  #auto_list .tabs .content_active {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top: 1px solid #eee;
    padding-top: 50px;
    height: 435px; }

footer {
  background-color: #f6f6f6;
  padding: 87px 0 64px 0; }
  footer .footer_logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #dbdbdb;
    padding: 10px 0;
    border-bottom: 4px solid #343434; }
    footer .footer_logo .cite_logo img {
      margin-right: 40px; }
    footer .footer_logo .payment_logo {
      display: flex;
      align-items: center; }
      footer .footer_logo .payment_logo img:last-child {
        margin-left: 15px; }
  footer .social_wrapper {
    display: flex;
    justify-content: space-around; }
    footer .social_wrapper .subscribe {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      background-color: #343434;
      padding: 25px 15px 7px 40px;
      width: 280px; }
      footer .social_wrapper .subscribe h4 {
        font-size: 22px; }
      footer .social_wrapper .subscribe input {
        border: none;
        width: 100%;
        height: 30px;
        border-radius: 5px;
        margin-top: 15px;
        margin-bottom: 10px; }
      footer .social_wrapper .subscribe button {
        padding: 12px 13px;
        width: 97px;
        border: none;
        background-color: #f28724;
        border-radius: 5px;
        display: flex;
        align-self: flex-end;
        text-align: center;
        justify-content: center;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
        transition: .2s ease-out; }
        footer .social_wrapper .subscribe button:hover {
          background-color: #ffa148;
          transition: .2s ease-out; }
    footer .social_wrapper .social_link {
      background-color: #343434;
      padding: 18px 30px 50px 5px;
      margin-top: 4px;
      height: 100%; }
      footer .social_wrapper .social_link h4 {
        color: #fff;
        font-size: 14px;
        font-weight: bold; }
      footer .social_wrapper .social_link .links {
        margin-top: 20px;
        display: flex; }
        footer .social_wrapper .social_link .links a {
          color: #fff;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px; }
          footer .social_wrapper .social_link .links a i {
            margin: 0;
            font-size: 20px; }
          footer .social_wrapper .social_link .links a img {
            width: 30px;
            height: 30px; }

@media (max-width: 992px) {
  .top_header .container .header_links {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .top_header .container .header_links a {
      margin-right: 0;
      margin-bottom: 10px; }
  .top_header .container .phone_number span {
    margin-left: 0; }

  .menu .nav_menu {
    justify-content: space-evenly; }
    .menu .nav_menu li:after {
      display: none; }

  .selectric-wrapper .selectric {
    width: 140px; }

  #best_selling .products_store .item .add_item {
    flex-direction: column; } }
@media (max-width: 768px) {
  footer .social_wrapper {
    flex-direction: column;
    align-items: center; }

  #auto_list .tabs .tabs_caption li {
    width: 120px; }
  #auto_list .tabs .tabs_content span {
    font-size: 14px; }

  #banner .container .main_title {
    padding: 75px; }

  #about:after {
    display: none; }
  #about .text_wrapper {
    width: 100%; }
    #about .text_wrapper h2 {
      text-align: center; }
      #about .text_wrapper h2:after {
        width: 50%;
        left: 25%; }

  header {
    position: relative; }
    header .top_header {
      position: relative;
      z-index: 6;
      overflow: hidden; }
      header .top_header .container .header_logo {
        flex-direction: column; }
        header .top_header .container .header_logo a {
          margin-right: 0; }
          header .top_header .container .header_logo a:after {
            display: none; }
    header .menu {
      position: absolute;
      width: 100%;
      z-index: 5;
      overflow: hidden;
      transform: translateY(-85%);
      transition: .2s ease-out;
      padding: 20px 0 50px 0; }
      header .menu .nav_menu {
        flex-direction: column;
        align-items: center; }
        header .menu .nav_menu li {
          width: 100%;
          text-align: center;
          margin-top: 20px; }
          header .menu .nav_menu li a {
            text-decoration: none; }
      header .menu .burger {
        display: block;
        width: 25px;
        height: 25px;
        position: absolute;
        bottom: 15px;
        right: 30px;
        cursor: pointer;
        outline: none;
        z-index: 3; }
        header .menu .burger span {
          background-color: #f28724;
          width: 100%;
          height: 2px;
          display: block;
          left: 0;
          bottom: 5px;
          transform-origin: right;
          top: 12px;
          position: absolute;
          transform: translateY(5px); }
          header .menu .burger span:after, header .menu .burger span:before {
            content: '';
            display: block;
            background-color: #f28724;
            width: 100%;
            height: 2px;
            position: absolute; }
          header .menu .burger span:after {
            top: -5px;
            transform-origin: right; }
          header .menu .burger span:before {
            bottom: -5px; }
    header .menu_active {
      transform: translateY(0);
      transition: .2s ease-out; }
      header .menu_active .burger {
        top: 20px; }
        header .menu_active .burger span {
          transform: translateY(5px) rotate(45deg); }
          header .menu_active .burger span:before {
            transform: rotate(90deg) translate(-5px, 0px); }
          header .menu_active .burger span:after {
            opacity: 0; }

  #find_light .container .search_light h3 {
    text-align: center; }
  #find_light .container .search-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    #find_light .container .search-wrapper .selectric-wrapper {
      margin-bottom: 10px;
      width: 50%; }
      #find_light .container .search-wrapper .selectric-wrapper .selectric {
        width: 100%; }
  #find_light .container .shop_by {
    flex-wrap: wrap; }
    #find_light .container .shop_by div {
      width: 100%; }

  #best_selling .products_store {
    justify-content: space-evenly; }
    #best_selling .products_store .item {
      width: 40%; }
      #best_selling .products_store .item .add_item {
        flex-direction: row; } }
@media (max-width: 580px) {
  #banner .main_title h1 {
    font-size: 45px;
    line-height: 45px; }

  header .top_header .container .phone_number {
    display: none; }

  #best_selling .products_store {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #best_selling .products_store .item {
      width: 70%; }
      #best_selling .products_store .item .add_item {
        flex-direction: column;
        align-items: center; }

  #world_leading .logo a {
    width: 30%; } }
@media (max-width: 480px) {
  footer .footer_logo {
    flex-direction: column; }

  header .top_header .container {
    flex-direction: column; }
    header .top_header .container .header_links {
      flex-direction: row;
      margin-top: 20px; }
    header .top_header .container .account {
      text-align: center; }
      header .top_header .container .account .cart {
        padding: 5px 10px; }

  #banner .container .main_title h1 {
    font-size: 32px;
    line-height: 26px; }
  #banner .container .main_title p {
    font-size: 22px; }
  #banner .container .main_title a {
    font-size: 14px;
    margin-top: 25px; }

  #find_light .benefits {
    flex-direction: column;
    align-items: center; }
    #find_light .benefits span {
      font-size: 11px; }

  #world_leading .container .logo a {
    width: 46%; }

  #auto_list .container .tabs .tabs_caption li {
    width: 80px;
    font-size: 14px; }
  #auto_list .container .tabs .tabs_content a {
    width: 22%;
    font-size: 9px; } }
@media (max-width: 380px) {
  footer .footer_logo {
    text-align: center; }
    footer .footer_logo div {
      flex-direction: column; }
  footer .social_wrapper .subscribe {
    width: 95%;
    padding: 10px 5px; }
  footer .social_wrapper .social_link {
    margin-top: 4px;
    height: 100%;
    width: 85%; }

  #world_leading .container .logo {
    justify-content: center; }
    #world_leading .container .logo a {
      width: 75%; } }
* {
  margin: 0;
  padding: 0;
  outline: none; }

body {
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: texta, sans-serif;
  color: #fff;
  font-size: 16px; }
  body h1 {
    font-family: proxima_nova, sans-serif;
    font-size: 60px;
    font-weight: 300;
    line-height: 65px; }
  body a {
    color: #cacaca;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    transition: .2s ease-out; }
    body a:hover {
      text-decoration: none;
      transition: .2s ease-out; }
    body a i {
      margin-left: 12px;
      font-size: 12px; }

.container {
  margin: 0 auto;
  max-width: 96%;
  width: 1140px; }

/*# sourceMappingURL=style.css.map */
