/*variables*/
@font-face {
  font-family: 'texta';
  src: url("../fonts/texta/texta-regular/texta-regular.woff2") format("woff2"), url("../fonts/texta/texta-regular/texta-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'texta';
  src: url("../fonts/texta/Texta-bold/texta-bold.woff2") format("woff2"), url("../fonts/texta/Texta-bold/texta-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'texta';
  src: url("../fonts/texta/texta-light/texta-light.woff2") format("woff2"), url("../fonts/texta/texta-light/texta-light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'texta';
  src: url("../fonts/texta/texta-book/texta-book.woff2") format("woff2"), url("../fonts/texta/texta-book/texta-book.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova';
  src: url("../fonts/ProximaNova/proximanova-bold/proximanova-bold.woff2") format("woff2"), url("../fonts/ProximaNova/proximanova-bold/proximanova-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova';
  src: url("../fonts/ProximaNova/proximanove-light/proximanova-light.woff2") format("woff2"), url("../fonts/ProximaNova/proximanove-light/proximanova-light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
.top_header {
  padding: 26px 0 35px 0;
  background: url("../img/header-bg.jpg") no-repeat center/cover; }
  .top_header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .top_header .container .logo {
      display: flex;
      align-items: center; }
      .top_header .container .logo span {
        font-size: 11px;
        text-transform: uppercase; }
      .top_header .container .logo a {
        position: relative;
        margin-right: 65px; }
        .top_header .container .logo a:after {
          content: '';
          width: 1px;
          height: 18px;
          background-color: #f28724;
          position: absolute;
          top: 20px;
          right: -35px; }
    .top_header .container .header_links a {
      margin-right: 25px; }
    .top_header .container .phone_number {
      display: flex;
      align-items: center; }
      .top_header .container .phone_number span {
        font-weight: bold;
        font-size: 22px;
        border-bottom: 1px dotted #7f7f7f;
        margin-left: 13px; }
    .top_header .container .cart {
      margin-top: 9px;
      padding: 10px 15px;
      border: 1px solid #f28724;
      display: flex;
      align-items: center; }
      .top_header .container .cart a {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #f28724;
        font-weight: bold;
        text-decoration: none;
        font-family: texta, sans-serif; }

.menu {
  background-color: #fff;
  padding: 20px 0; }
  .menu .nav_menu {
    display: flex;
    justify-content: space-between; }
    .menu .nav_menu li {
      position: relative;
      list-style: none; }
      .menu .nav_menu li a {
        color: #393939;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        transition: .4s ease-out; }
      .menu .nav_menu li:after {
        content: '';
        width: 1px;
        height: 7px;
        position: absolute;
        background-color: #bebebe;
        right: -40px;
        top: 30%; }
      .menu .nav_menu li:last-child:after {
        display: none; }
      .menu .nav_menu li:hover a {
        text-decoration: none;
        color: #f28724;
        transition: .4s ease-out; }

#banner {
  position: relative; }
  #banner .swiper-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%; }
    #banner .swiper-container .slide1 {
      background: url("../img/slide.jpg") no-repeat center/cover; }
    #banner .swiper-container .slide2 {
      background: url("../img/slide2.jpg") no-repeat center/cover; }
    #banner .swiper-container .slide3 {
      background: url("../img/slide3.jpg") no-repeat center/cover; }
  #banner .container {
    display: flex;
    justify-content: center; }
    #banner .container .swiper-pagination {
      bottom: 55px; }
      #banner .container .swiper-pagination .swiper-pagination-bullet {
        margin-left: 5px;
        border: 1px solid #fff;
        background-color: transparent; }
      #banner .container .swiper-pagination .swiper-pagination-bullet-active {
        background-color: #fff; }
    #banner .container .main_title {
      color: #fff;
      text-align: center;
      padding: 75px 170px 115px 175px;
      text-transform: uppercase; }
      #banner .container .main_title span {
        font-weight: 700; }
      #banner .container .main_title p {
        margin-top: 35px;
        font-weight: 300;
        font-size: 30px;
        word-spacing: 5px;
        opacity: .8; }
      #banner .container .main_title a {
        display: inline-block;
        color: #fff;
        margin-top: 50px;
        border-radius: 2px;
        font-family: texta, sans-serif;
        font-weight: bold;
        text-decoration: none;
        background-color: #f28724;
        padding: 15px 30px; }

* {
  margin: 0;
  padding: 0;
  outline: none; }

body {
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: texta, sans-serif;
  color: #fff;
  font-size: 16px; }
  body h1 {
    font-family: proxima_nova, sans-serif;
    font-size: 60px;
    font-weight: 300;
    line-height: 65px; }
  body a {
    color: #cacaca;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    transition: .2s ease-out; }
    body a:hover {
      text-decoration: none;
      transition: .2s ease-out; }

.container {
  margin: 0 auto;
  max-width: 96%;
  width: 1140px; }

/*# sourceMappingURL=style.css.map */
