#filter_category-body {
  padding-bottom: 85px;
  .posts {
    padding: 0;
  }
  .category_title {
    font-size: 34px;
  }
}
.anchor_links {
  padding-top: 35px;
  display: flex;
  margin-bottom: 30px;
  a {
    color: $col_orange;
    position: relative;
    margin-right: 23px;
    text-transform: capitalize;
    font-size: 12px;
    &:after {
      content: '>';
      position: absolute;
      right: -12px;
    }
    &:last-child {
      color: #b4b4b4;
      text-decoration: none;
      &:after {
        display: none;
      }
    }
    &:hover {
      color: #b4b4b4;
      text-decoration: none;
    }
  }
}