@font-face {
  font-family: 'texta';
  src: url('../fonts/texta/texta-regular/texta-regular.woff2') format('woff2'),
  url('../fonts/texta/texta-regular/texta-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'texta';
  src: url('../fonts/texta/Texta-bold/texta-bold.woff2') format('woff2'),
  url('../fonts/texta/Texta-bold/texta-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'texta';
  src: url('../fonts/texta/texta-light/texta-light.woff2') format('woff2'),
  url('../fonts/texta/texta-light/texta-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'texta_book';
  src: url('../fonts/texta/texta-book/texta-book.woff2') format('woff2'),
  url('../fonts/texta/texta-book/texta-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/ProximaNova/proximanova-bold/proximanova-bold.woff2') format('woff2'),
  url('../fonts/ProximaNova/proximanova-bold/proximanova-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/ProximaNova/proximanove-light/proximanova-light.woff2') format('woff2'),
  url('../fonts/ProximaNova/proximanove-light/proximanova-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/ProximaNova/proximanove-regular/proxima_nova-regular.woff2') format('woff2'),
  url('../fonts/ProximaNova/proximanove-regular/proxima_nova-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PTSansBold/ptsansbold.woff2') format('woff2'),
  url('../fonts/PTSansBold/ptsansbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PTSansRegular/ptsans-regular.woff2') format('woff2'),
  url('../fonts/PTSansRegular/ptsans-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'open_sans';
  src: url('../fonts/OpenSans/opensans.woff2') format('woff2'),
  url('../fonts/OpenSans/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PTSansItalic/ptsans-italic.woff2') format('woff2'),
  url('../fonts/PTSansItalic/ptsans-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;

}