@import "variables";
@import "fonts";
@import "header";
@import "banner";
@import "footer";
@import "mobile";

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  border:0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: texta, sans-serif;
  color: #fff;
  font-size: $f-size;
  h1 {
    font-family: proxima_nova, sans-serif;
    font-size: 60px;
    font-weight: 300;
    line-height: 65px;
  }
  a {
    color: #cacaca;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    transition: .2s ease-out;
    &:hover {
      text-decoration: none;
      transition: .2s ease-out;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 96%;
  width: $w1;
}