@import "variables";
@import "fonts";
@import "mobile";
/*              main page  style            */
@import "header";
@import "banner";
@import "find_light";
@import "best_selling";
@import "about";
@import "world_leading";
@import "auto_list";
@import "main_footer";
/*              posts page  style               */
@import "posts_header";
@import "posts_slider";
@import "posts";
@import "post_footer";

/*              filter category page style            */
@import "filter_category-body";
/*              single post page style              */
@import "single-post";
@import "post_comments";
@import "reply_form";
@import "other_categories";

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  border:0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: texta, sans-serif;
  color: #fff;
  font-size: $f-size;
  h1 {
    font-family: proxima_nova, sans-serif;
    font-size: 60px;
    font-weight: 300;
    line-height: 65px;
  }
  a {
    color: #cacaca;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    transition: .2s ease-out;
    &:hover {
      text-decoration: none;
      transition: .2s ease-out;
    }
    i {
      margin-left: 12px;
      font-size: 12px;
    }
  }
}

/*             posts descriptions         */
.post_date {
  font-family: PTSans, sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-decoration: none;
  span {
    margin-right: 20px;
    &:first-child {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: 3px;
        right: -10px;
        width: 1px;
        height: 10px;
        background-color: #fff;
      }
    }
  }
}

/*                    pagination          */
.pagination {
  font-family: open_sans,sans-serif;
  a {
    text-decoration: none;
    font-size: 13px;
    &:hover {
      color: #f68921;
      text-decoration: underline;
      &:after, &:before {
        color: #b4b4b4;
      }
    }
  }
  .page_number {
    padding: 6px 7px;
    &:hover {
      color: #fff;
      background-color: #f68921;
      text-decoration: none;
    }
    .page_number {
      a {
        &:last-child {
          &:hover {
            .pagination_last {
              color: #f68921;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .active_page {
    font-weight: bold;
    color: #000;
  }
  .pagination_previous, .pagination_next {
    position: relative;
    &:hover {
      text-decoration: underline;
      &:before,
      &:after {
        text-decoration: none;
      }
    }
  }
  .pagination_previous {
    margin: 0 17px 0 30px;
    &:before {
      content: '<<';
      position: absolute;
      top: 0;
      left: -20px;
    }
  }
  .pagination_next {
    margin: 0 30px 0 17px;
    &:after {
      content: '>>';
      position: absolute;
      top: 0;
      right: -20px;
    }
  }
}

/*               social links              */
.social_link {
  a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    i {
      margin: 0;
      font-size: 20px;
    }
    img {
      width: 30px;
      height: 30px;
    }
  }
  .facebook {
    transition: .2s ease-out;
    &:hover {
      box-shadow: 0px 0px 10px 1px $fb_col;
    }
  }
  .twiter {
    transition: .2s ease-out;
    &:hover {
      box-shadow: 0px 0px 10px 1px $tw_col;
    }
  }
  .pinterest {
    transition: .2s ease-out;
    &:hover {
      box-shadow: 0px 0px 10px 1px $pint_color;
    }
  }
  .google {
    transition: .2s ease-out;
    &:hover {
      box-shadow: 0px 0px 5px 1px $goog_col;
    }
  }
}

/*                            website containers           */
.container, .post-container {
  margin: 0 auto;
  max-width: 96%;
  width: $w1;

}
.post-container {
  width: 980px;
}