.post_header {
  width: 100%;
  padding: 24px 0;
  background-color: #292724;
  .post-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search-panel {
      position: relative;
      width: 290px;
      label {
        width: 100%;
        input {
          border: none;
          padding: 8px 0 9px 17px;
          background-color: #3f3f3f;
          width: 100%;
          border-radius: 15px;
        }
      }
      button {
        position: absolute;
        top: 0;
        right: -15px;
        outline: none;
        height: 100%;
        padding: 5px 10px;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 2;
      }
    }
    .number_phone {
      font-size: 20px;
      font-family: PTSans, sans-serif;
      font-weight: 700;
    }
    .view_shop {
      display: flex;
      text-decoration: none;
      font-family: PTSans, sans-serif;
      font-weight: 700;
      font-size: 14px;
      color: $col_light-orange;
      border: 1px solid $col_light-orange;
      padding: 10px 25px 10px 20px;
      transition: .2s ease-out;
      img {
        margin-right: 14px;
      }
      &:hover {
        box-shadow: 0 0 5px 2px $col_orange;
        transition: .2s ease-out;
      }
    }
  }
}
.post_menu {
  background-color: #f3f3f3;
  .post-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .post_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 70%;
    .dropdown {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        right: -15px;
        top: 5px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: $col_orange transparent transparent transparent;
        transition: .2s ease-out;
      }
    }
    li {
      position: relative;
      padding: 18px 0;
      ul {
        display: none;
        position: absolute;
        right: -100px;
        width: 260px;
        top: 55px;
        border: 1px solid #e1e1e1;
        list-style: none;
        background: #fff;
        z-index: 3;
        text-transform: uppercase;
        text-align: center;
        li {
          padding: 25px 35px 25px 20px;
          cursor: pointer;
          a {
            font-size: 12px;
            font-weight: 700;
            color: #000;
            text-decoration: none;
          }
          &:hover {
            a {
              color: $col_orange;
            }
          }
        }
        &:after,
        &:before {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
        }
        &:before {
          top: -6px;
          left: 116px;
          border-width: 0 6px 6px 6px;
          border-color: transparent transparent #e1e1e1 transparent;
        }
        &:after {
          top: -5px;
          left: 45%;
          border-width: 0 5px 5px 5px;
          border-color: transparent transparent #fff transparent;
        }
      }
      a {
        font-family: PTSans, sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: #000;
        transition: .4s ease-out;
        &:hover {
          color: $col_orange;
          transition: .4s ease-out;
        }
      }
      &:hover {
        .dropdown {
          &:after {
            border-width: 0 5px 5px 5px;
            border-color: transparent transparent $col_orange transparent;
            transition: .2s ease-out;
          }
        }
        ul {
          display: block;
          z-index: 3;
        }
      }
    }
  }
  .rss {
    font-family: PTSans, sans-serif;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #8e8e8e;
    text-decoration: none;
    img {
      margin-left: 15px;
    }
  }
}