#posts_banner {
  padding: 70px 0 30px;
  .post-container {
    position: relative;
    .swiper-pagination {
      position: absolute;
      bottom: 40px;
      left: 47%;
      .swiper-pagination-bullet {
        border: 1px solid $col_orange;
        background-color: #000;
        margin-right: 5px;
      }
      .swiper-pagination-bullet-active {
        background-color: $col_orange;
      }
    }
    .swiper-button-prev {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 10px 8px 0;
      border-color: transparent #f29724 transparent transparent;
      left: -25px;
      &:after {
        opacity: 0;
      }
    }
    .swiper-button-next {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 0 8px 10px;
      border-color: transparent transparent transparent #f29724;
      right: -25px;
      &:after {
        opacity: 0;
      }
    }
    .swiper-button-disabled {
      opacity: 1;
      cursor: pointer;
    }
  }
  .swiper-container {
    width: 100%;
    .swiper-slide {
      color: #fff;
     .post-slide_title {
       padding: 70px 0 80px 75px;
       text-transform: uppercase;
       width: 55%;
       letter-spacing: 1px;
       h2 {
         font-family: proxima_nova, sans-serif;
         font-size: 60px;
         font-weight: 300;
         margin-top: 30px;
         letter-spacing: 5px;
       }
     }
    }
    .slide1 {
      height: 100%;
      background: url('../img/post_slide1.png')no-repeat center / cover;
    }
    .slide2 {
      background: url('../img/post_slide2.jpg')no-repeat center / cover;
    }
    .slide3 {
      background: url('../img/post_slide3.jpg') no-repeat center / cover;
    }
  }
}