
/*variables*/

$w1: 1140px;            // main wrapper
$col_orange: #f28724;   // Color
$col_light-orange: #ffa148;
$f-size: 16px;          // Font size
$fb_col: #3b5998;       // facebook color
$tw_col: #29c5f6;       // twiter color
$pint_color: #c61118;   // pinterest color
$goog_col: #d84a38;     // google color